In [31]:
import pandas as pd

In [28]:
df = pd.read_csv('cyberbullying_tweets.csv')
df.head()

                                          tweet_text cyberbullying_type
0  In other words #katandandre, your food was cra...  not_cyberbullying
1  Why is #aussietv so white? #MKR #theblock #ImA...  not_cyberbullying
2  @XochitlSuckkks a classy whore? Or more red ve...  not_cyberbullying
3  @Jason_Gio meh. :P  thanks for the heads up, b...  not_cyberbullying
4  @RudhoeEnglish This is an ISIS account pretend...  not_cyberbullying

In [29]:
indexes = (df[(df['tweet_text'].str.contains('https://t.co/', case=False)) & (df['tweet_text'].str.len() <= 60)]).index
df.drop(indexes, inplace=True)
df[(df['tweet_text'].str.contains('https://t.co/', case=False)) & (df['tweet_text'].str.len() <= 60)]

Empty DataFrame
Columns: [tweet_text, cyberbullying_type]
Index: []

In [30]:
ex_df = pd.DataFrame(columns=df.columns)
for i in range(2):
    for category in df['cyberbullying_type'].unique():
        ex_row = df[df['cyberbullying_type'] == category].head(1)
        ex_df = pd.concat([ex_df, ex_row], ignore_index=True)
        df.drop(ex_row.index, inplace=True)

In [34]:
df = df[df.columns[::-1]]
ex_df = ex_df[ex_df.columns[::-1]]
df.to_csv('reports.csv', index=False, header=False)
ex_df.to_csv('teste.csv', index=False, header=False)